<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= project.code %>
  </p>

  <p>
    <strong>Leader:</strong>
    <%= project.leader_id %>
  </p>

</div>
