body {
    float:left;
    width:100%;
}

nav {
    float: left;
    display: inline-block;
    margin-right: -200px;
    width: 100%;
    background-color: lightblue;
    padding: 0 10px;
    a {
        display: inline-block;
        min-width:100px;
        text-align: center;
        padding:10px 15px;
        color: black;
        text-decoration: none;

        &:hover, &.active {
            background-color: rgba(black, 0.2);
            font-weight: bold;
        }
    }
}

.account_menu {
    float:right;
    display:inline-block;
    width:180px;
    display: inline-block;
    text-align: right;

    p {
        margin: 0 10px;

        a {
            padding: 10px 0;
            display: inline-block;
            color: black;
            text-decoration: none;

            &:hover {
                font-weight: bold;
            }
        }
    }
}